#FondoDescripcion{
    padding-bottom: 50px;
    background-image: url("Imagenes/FondoDescripcion.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#CuerpoPrincipal{
    background-image: url("Imagenes/FondoPrincipal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#FontWhite{
    color: white;
}
.FontMediano{
    font-size: 25px;
    }

#TituloTabla{
    color: white;
    margin-top: 75px ;
}
.container-fluid{
    padding-top: 2rem;
    padding-bottom: 2rem;
}