#FondoDescripcion {
    padding-bottom: 70px;
    background-image: url('Imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#CuerpoPrincipal {
    background-image: url('Imagenes/FondoLibro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#FontWhite {
    color: white;
}

.FontMediano {
    font-size: 25px;
}

#TituloTabla {

    color: white;
    margin-top: 75px;
}

#TituloPrncipal {
    padding-top: 40px;
    font-size: 60px;
}

#Poema {
    padding-bottom: 40px;
}

#Redirec {
    padding-top: 10px;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Menu {
    background-color: black;
}

.Sombra {
    box-shadow: 6px 6px 20px #787373;
}




#Respuestas {
    color: white;
}

/* slider */

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    list-style: none;
    width: 100%;

    padding: 0;
}

.slider img {
    width: 100%;
    height: 400px;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    23% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    48% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    73% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* Menu Principal*/

.nav-item a:hover {
    background-color: #B68D0C !important;

}

/*  estilos de registrar*/

.ImagenRegistro {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -125px;
    left: calc(50% - 50px);

}

#Registro {
    background-image: url('Imagenes/fondoFormSesion.png');

    border-radius: 10px;
    width: 640px;
    height: 650px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

/* estilos de fondo de inisiar sesion*/
#FondoSesion {
    background-image: url('Imagenes/FondoLibro.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#Sesion {
    background-image: url('Imagenes/fondoFormSesion.png');

    border-radius: 10px;
    width: 320px;
    height: 430px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.ImagenLogin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -125px;
    left: calc(50% - 50px);
}

/*  footer*/
.links-title {
    font-family: 'Montserrat-SemiBold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

ol,
ul {
    list-style: none;
}

li {
    padding-right: 3rem;
}

#Titulo {
    padding-top: 70px;
}

.ImagenRed {
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

/* adivinazas*/

#adivinanza {
    margin-top: 20px;
    border: none;
    border-color: white;

}

#Adivinar {
    background-image: url('Imagenes/Adivinar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#containerAdivinazas {
    padding-bottom: 600px;
    background-image: url('Imagenes/containerAdivinaza.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 887px;

}


#TituloAdivinanza {
    border: none;
    border-radius: 30px;
    background-color: palegreen;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 20px;
}

#Respuestas {
    margin-top: 20px;
    border: groove;
    background-color: tomato;
    padding-bottom: 20px;
    height: 500px;
}